.SocialSidebar {
  text-align: left;
  margin: 20px;
  padding: 20px;
  border-right: 1px solid gray;
}

.filterSection {
  padding-bottom: 15px;
}

.filterHeader {
  font-weight: 500;
}

.filterLabel {
  font-weight: 300;
}
